<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoMVC-vue</title>
    <!-- <script src="http://vuejs.org/js/vue.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/normalize.8.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="todos">
        <h1>todos</h1>
        <div id="app">
            <div class="title">
                <div @click="changeAllDone" :style="{opacity: todos.length === 0 ? 0 : 1}" :class="['checkbox',unDoneCount === 0 ? 'checked' : '']"></div>
                <input class="add" autofocus="autofocus" autocomplete="off" placeholder="What needs to be done?" class="new-todo" v-model="newTodo" @keyup.enter="save">
            </div>
            <div class="items" :style="{display: todos.length === 0 ? 'none' : 'block'}">
                <div :class="['item',editTodo == todo ? 'editing' : '']" v-for="todo in filterTodos">
                    <div class="content">
                        <div :class="['checkbox', todo.done === false ? '' : 'checked']" @click="changeDone(todo.id)">
                            <svg viewBox="12 13 29 22" stroke="currentColor" stroke-width="2" fill="none">
                            <polyline points="13.2427972 23.7361617 21.8111153 32.3044798 38 16.1155951"></polyline>
                        </svg>
                        </div>
                        <div class="text" @dblclick="edit(todo)">{{todo.name}}</div>
                        <div class="remove" @click="remove(todo.id)">
                            <svg viewBox="19 19 22 22" stroke-linecap="round" width="18" height="18" stroke="currentColor" stroke-width="2">
                            <g transform="translate(21.000000, 21.000000)">
                                <path d="M0.333333333,0.333333333 L17.4148373,17.4148373"></path>
                                <path d="M0.333333333,0.333333333 L17.4148373,17.4148373"
                                      transform="translate(9.000000, 9.000000) scale(-1, 1) translate(-9.000000, -9.000000)"></path>
                            </g>
                        </svg>
                        </div>
                    </div>
                    <input v-if="todo === editTodo" @keyup.enter="editSave(todo.id)" @blur="editSave(todo.id)" @keyup.esc="cancelSave" v-model="todo.name" type="text" class="edit">
                </div>
                <div class="footer">
                    <span class="state">{{unDoneCount}} items left</span>
                    <ul class="filters">
                        <li><a href="#/all" :class="selectActive === 'ALL' ? 'selected' : ''" @click="selectActive = 'ALL'">All</a></li>
                        <li><a href="#/active" :class="selectActive === 'ACTIVE' ? 'selected' : ''" @click="selectActive = 'ACTIVE'">Active</a></li>
                        <li><a href="#/completed" :class="selectActive === 'COMPLETED' ? 'selected' : ''" @click="selectActive = 'COMPLETED'">Completed</a></li>
                    </ul>
                    <a class="clear-completed" @click="cleanAllDone" :style="{opacity: todos.length === unDoneCount ? 0 : 1}">
                        Clear completed
                    </a>
                </div>
            </div>
        </div>


        <script>
            new Vue({
                el: "#app",
                data: {
                    editTodo: null,
                    backupTodo: null,
                    selectActive: 'ALL',
                    newTodo: '',
                    
                    todos: []
                },
                computed: {
                    unDoneCount() {
                        return this.todos.filter(v => !v.done).length;
                    },
                    filterTodos() {
                        this.todos.sort(function compare(a,b){
                            return b.updateTime - a.updateTime;
                        });

                        let arr = this.todos.filter(v => {
                            if (this.selectActive == "ALL") {
                                return true;
                            } else if (this.selectActive == "ACTIVE") {
                                return !v.done
                            } else {
                                return v.done
                            }
                        })
                        return arr;
                    },
                },
                methods: {
                    changeDone(id) {
                        this.todos.filter(v => v.id === id).forEach(value => value.done = !value.done);
                    },
                    save() {
                        if (!this.newTodo || !this.newTodo.trim()) {
                            return;
                        }
                        var todo = {
                            id: new Date().getTime(),
                            name: this.newTodo,
                            done: false,
                            updateTime: new Date().getTime()
                        }
                        this.todos.push(todo);
                        this.newTodo = '';
                    },
                    remove(id) {
                        this.todos = this.todos.filter(v => v.id != id);
                    },
                    changeAllDone() {
                        let doneCount = this.todos.filter(v => v.done).length;
                        this.todos.forEach(v => v.done = !(doneCount === this.todos.length));
                    },
                    cleanAllDone() {
                        this.todos = this.todos.filter(v => !v.done);
                    },
                    edit(todo) {
                        this.editTodo = todo;
                        this.backupTodo = JSON.parse(JSON.stringify(todo));
                        this.$nextTick(() => {
                            let edit_pipelines = document.querySelectorAll('.edit');
                            edit_pipelines.forEach((element) => {
                                element.focus();
                            })
                        });
                    },
                    editSave(id) {
                        this.todos.forEach(v => {
                            if(v.id === id) {
                                v.updateTime = new Date().getTime();
                            }
                        });
                        this.editTodo = null;
                        this.backupTodo = null;
                    },
                    cancelSave() {
                        console.info(this.backupTodo);
                        if (!this.editTodo) {
                            return;
                        }
                        for (let i = 0; i < this.todos.length; i++) {
                            if (this.todos[i].id === this.backupTodo.id) {
                                this.todos.splice(i, 1, this.backupTodo);
                                break;
                            }
                        }
                        this.editTodo = null;
                        this.backupTodo = null;
                    }
                },
                watch: {
                    'todos': {
                        handler: function(todos) {
                            localStorage.setItem("TODOS", JSON.stringify(todos));
                        },
                        // 表示深度遍历，如果不加，对象内属性值变化监听不到
                        deep: true,
                        // 表示立刻执行handler，第一次进来则执行handler，正常是发生改变才执行
                        // immediate: true,
                    },
                },
                created() {
                    this.todos = JSON.parse(localStorage.getItem("TODOS") || '[]');
                },
                mounted () {
                    // this.ceshi.text = 'ceshi';
                    // this.$set(this.ceshi,"text","ceshi");
                    // console.info(this.ceshi);
                }
            })
        </script>

</body>

</html>